* {margin: 0; padding: 0;}
ul {list-style-type: none;}
img { max-width: 100%; max-height: 100%;}


/* -------------- HEADER --------------*/
.logo {
    width: 90px;
    height: 90px;
    padding: 6px;
}
.contenedor {
    position: relative;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(42, 44, 46, 0.575)) ,url("../assets/background.logos/back.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    font-family: 'Barlow Condensed', sans-serif;
    
}

.nav-item a {
    color: black;
    font-size: 30px;
}
.slogan {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

/* ------------ MAIN ---------------*/


/* ------------ HOME ------------ */

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}
main {
    padding: 50px 150px 50px 150px;
    background-image: linear-gradient(to bottom, rgba(216, 243, 220, 0.644), rgb(144, 224, 239));
    overflow: hidden;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    
}
.parte1 {
    display: flex;
}
.home__fotos {
    height: 600px;
    width: 95%;
}
.home__parrafo1 {
    padding-left: 100px;
    font-size: 25px;
    font-weight: 15px;
    text-align: justify;
}
#boton {
    border: inset black;
    margin: 40px;
    margin-top: 70px;
    text-align: center;
    padding: 8px;
    transition: 1s;
    justify-self: center;
    background-color: rgb(156, 234, 239);
    border-radius: 5%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
#boton a {text-decoration: none; color: rgb(3, 84, 109);
}
#boton:hover {
    transform: scale (1.5, 1.5);
    background-color: rgb(61, 204, 199);
    
}
#boton:hover a {color: rgb(196, 255, 249);}

.parte4 {
    padding-top: 80px;
}
.tarjetas {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 100px 0;
}
.card1 {
    width: 27%;
    padding: 10px;
    border: black;
    background-color: #f2f2f2;
    border-radius: 6%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.card1 img {
    height: 200px;
    border-radius: 6%;
}
.card1 p {
    font-size: 20px;
    text-align: justify;
    padding-top: 20px;
}

.parte2 {
    background-color: rgb(224, 251, 252);
    text-align: center;
    font-size: 35px;
}
.flotante {
    line-height: 90px;
    display: flex;
    flex-direction: column;
    padding-right: 10%; padding-left: 10%;
    justify-content: center;
}
.requisito {line-height: 30px;
    border: inset 2px rgb(137, 152, 59);
    padding: 20px;
    margin: 10px;
}
.parte3 {
    padding-top: 100px;
}
#pf1 {
    background-color: rgb(224, 251, 252);
    font-family: 'Barlow Condensed', sans-serif;
    color: black;
    padding: 5px 50px 5px 50px;
    font-size: 25px;
    border: black;
}


/* --------------- CONTACTO --------------- */

.formulario {
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(224, 251, 252);
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 80px;
    border-radius: 6%;
    border: #f2f2f2;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.formulario__dos {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 60px;
    text-align: center;
}
.formulario__item {
    padding: 60px;
}
.formulario__itemdos {
    padding: 60px 60px 0 60px;
    text-align: center;
}
.formulario__itemtres {
    text-align: center;
    padding-bottom: 60px;
}


/* --------------- PRODUCTO/ TAZAS --------------- */

h1 {font-size: 50px; text-align: center;}

.prod__uno {
    height: 500px;
}
.prod__dos {
    height: 500px;
}
.prod__tres {
    height: 500px;
}

.taza__fotos {
    display: flex;
    padding-top: 20px;
    height: 400px;
}


/* --------------- COMPRA TAZA --------------- */
.compra__parte1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.compra__foto {
    height: 400px;
}
.compra__descripcion {
    line-height: 80px;
    font-size: 30px;
    text-align: center;

}
.boton__compra {padding: 5px 10px;

}
.compra__envio {
    margin-top: 100px;
}
.compra__relacionado {
   margin-top: 100px;
}


/* --------------- FOOTER ---------------*/
footer {
    height: 200px;
    background-image: url("../assets/background.logos/header.jpg");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
}
.footer__social {
    margin-top: 20px;
    display: flex; 
}

.insta {height: 60px; width: 60px;}
.wpp {height: 60px; width: 60px; margin-left: 30px;}





/*
SI AGREGO EL NAV CON CARTELES 

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Patrick+Hand&display=swap" rel="stylesheet">
CSS rules to specify families

font-family: 'Barlow Condensed', sans-serif;
font-family: 'Patrick Hand', cursive; */