* {
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  width: 100%;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  z-index: 30; }
  header img {
    width: 50px; }

img {
  max-width: 100%;
  height: auto; }

/* h4{
    text-align: center;
    margin-bottom: 30px;
    color: $color5;
}


h3 {
    text-align: center;
    color: $color5;
    font-size: header-psize2;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
} */
/* ----------------------- HOME -----------------------*/
.slogan {
  background-image: linear-gradient(rgba(37, 50, 55, 0.87), rgba(37, 50, 55, 0.822)), url("../assets/background.logos/back.png");
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-attachment: fixed;
  color: #e0fbfc;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-align: center; }
  .slogan .slogan_texto {
    border-left: 5px solid #e0fbfc; }
    .slogan .slogan_texto h1 {
      font-size: 55px; }
    .slogan .slogan_texto h2 {
      font-size: 80px;
      margin: 0 100px 0 70px; }

.home_parte1 {
  padding: 50px 70px;
  font-family: 'Barlow Condensed', sans-serif; }
  .home_parte1 .home__parrafo {
    font-size: 20px;
    font-weight: 15px;
    text-align: justify;
    padding: 0 80px 0 80px;
    line-height: 25px; }

.home_parte4 {
  background-color: #e0fbfc;
  width: 100%;
  padding: 50px 70px;
  font-family: 'Barlow Condensed', sans-serif; }
  .home_parte4 h3 {
    text-align: center;
    color: #253237;
    font-size: 55px;
    font-weight: 800;
    text-transform: uppercase; }
  .home_parte4 .home__servicio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px; }
    .home_parte4 .home__servicio .card1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .home_parte4 .home__servicio .card1 .card2 {
        height: 300px;
        width: 300px;
        background-color: white;
        text-align: justify;
        font-size: 25px;
        line-height: 30px;
        color: #e0fbfc;
        margin: 7px;
        padding: 0; }
        .home_parte4 .home__servicio .card1 .card2 img {
          width: 100%;
          height: 100%; }
      .home_parte4 .home__servicio .card1 .card3 {
        height: 300px;
        width: 300px;
        background-color: #253237;
        text-align: justify;
        font-size: 25px;
        line-height: 30px;
        color: #e0fbfc;
        margin: 7px;
        padding: 40px; }
        .home_parte4 .home__servicio .card1 .card3 img {
          width: 100%;
          height: 100%; }
      .home_parte4 .home__servicio .card1 .card4 {
        height: 300px;
        width: 300px;
        background-color: #9db4c0;
        text-align: justify;
        font-size: 25px;
        line-height: 30px;
        color: #e0fbfc;
        margin: 7px;
        padding: 40px; }
        .home_parte4 .home__servicio .card1 .card4 img {
          width: 100%;
          height: 100%; }
      .home_parte4 .home__servicio .card1 .card5 {
        height: 300px;
        width: 300px;
        background-color: #5c6b73;
        text-align: justify;
        font-size: 25px;
        line-height: 30px;
        color: #e0fbfc;
        margin: 7px;
        padding: 40px; }
        .home_parte4 .home__servicio .card1 .card5 img {
          width: 100%;
          height: 100%; }

.home_parte2 {
  padding: 50px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .home_parte2 img {
    width: 350px;
    height: auto;
    border-radius: 7px;
    box-shadow: 10px 5px 5px #5c6b73; }
  .home_parte2 .requisitos {
    width: 70%;
    margin-left: 100px;
    font-family: 'Barlow Condensed', sans-serif; }
    .home_parte2 .requisitos h3 {
      text-align: center;
      color: #253237;
      font-size: 55px;
      font-weight: 800;
      text-transform: uppercase; }
    .home_parte2 .requisitos .requisitos__item {
      font-size: 20px;
      padding: 0 25px; }
      .home_parte2 .requisitos .requisitos__item span {
        margin: 0 10px 10px 0;
        padding: 3px;
        background-color: #9db4c0;
        border-radius: 50%;
        width: 40px;
        text-align: center;
        color: #e0fbfc;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.658);
        display: inline-block; }
    .home_parte2 .requisitos #pf1 {
      background-color: #253237;
      margin-top: 40px;
      color: #e0fbfc;
      font-size: 30px;
      overflow: auto;
      font-size: 20px; }
    .home_parte2 .requisitos .boton {
      border: inset black;
      margin: 70px auto;
      text-align: center;
      padding: 8px;
      transition: 1s;
      background-color: #253237;
      border-radius: 5%;
      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); }
      .home_parte2 .requisitos .boton a {
        text-decoration: none;
        color: #e0fbfc;
        font-size: 35px; }
    .home_parte2 .requisitos .boton:hover {
      transform: scale 1.5, 1.5;
      background-color: #5c6b73; }

/* ----------------------- PRODUCTOS -----------------------*/
.prod__banner {
  background-image: linear-gradient(rgba(37, 50, 55, 0.87), rgba(37, 50, 55, 0.822)), url("../assets/background.logos/back.png");
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  color: #e0fbfc;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-align: center; }
  .prod__banner h1 {
    font-size: 55px; }

.prod__container {
  padding: 50px 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  /* .prod__caja {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
        

        .prod__item {
            width: 15rem;
            margin-bottom: 30px;
            img{
                height: 300px;
                transition: 1s;
            }
            
        }
        .prod__item:hover {
            img {
                transform: scale(1.2);
            }
        }
        
    } */ }
  .prod__container .prod__imagencontain {
    overflow: hidden; }
    .prod__container .prod__imagencontain img {
      transition: 1s; }
  .prod__container .prod__imagencontain:hover img {
    transform: scale(1.2); }

/* ----------------------- COMPRA -----------------------*/
.compra__container {
  padding: 50px 70px; }
  .compra__container .compra__producto {
    display: flex;
    margin-top: 150px;
    font-family: 'Barlow Condensed', sans-serif;
    justify-content: center;
    align-items: flex-start; }
    .compra__container .compra__producto .compra__foto {
      width: 500px;
      padding-right: 100px; }
    .compra__container .compra__producto .compra__descripcion {
      text-align: center; }
      .compra__container .compra__producto .compra__descripcion .compra-precio {
        font-size: 50px; }
      .compra__container .compra__producto .compra__descripcion h1 {
        font-size: 55px; }
      .compra__container .compra__producto .compra__descripcion form .boton__compra {
        margin-top: 50px; }
  .compra__container .compra__envio {
    margin-top: 30px; }
    .compra__container .compra__envio h3 {
      text-align: center;
      color: #253237;
      font-size: 55px;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 800;
      text-transform: uppercase; }
  .compra__container .compra__relacionado {
    margin-top: 30px; }
    .compra__container .compra__relacionado h3 {
      text-align: center;
      color: #253237;
      font-size: 55px;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: 800;
      text-transform: uppercase; }
    .compra__container .compra__relacionado .relacionado--item {
      display: flex;
      overflow-x: scroll;
      justify-content: space-between; }

/* ----------------------- CONTACTO -----------------------*/
.contacto__fondo {
  background-color: #9db4c0; }

.contacto__container {
  width: 360px;
  height: 600px;
  margin: 0 auto 300px auto;
  padding-top: 100px;
  background-color: #e0fbfc;
  position: relative;
  overflow: hidden; }
  .contacto__container .contacto__formitem {
    margin-top: 20px;
    margin-bottom: 0; }
  .contacto__container form {
    width: 280px;
    position: absolute;
    top: 200px;
    left: 40px;
    transition: 0.4s;
    font-family: 'Barlow Condensed', sans-serif; }
    .contacto__container form input {
      width: 100%;
      padding: 10px 5px;
      margin: 5px 0;
      border: 0;
      border-bottom: 1px solid #5c6b73;
      outline: none;
      background: transparent; }
    .contacto__container form .boton-box {
      width: 100%;
      margin: 30px auto;
      text-align: center; }
  .contacto__container button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: #253237;
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #e0fbfc;
    cursor: pointer; }
  .contacto__container #form2 {
    left: 450px; }
  .contacto__container #form3 {
    left: -450px; }
    .contacto__container #form3 .comentario {
      overflow: scroll; }
  .contacto__container .step-row {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative; }
  .contacto__container .step-col {
    width: 120px;
    text-align: center;
    color: #333;
    position: relative; }
  .contacto__container #progress {
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, #9db4c0, #5c6b73);
    transition: 2s; }

/* ----------------------- FOOTER -----------------------*/
footer {
  background-image: linear-gradient(rgba(37, 50, 55, 0.87), rgba(37, 50, 55, 0.822)), url(../assets/background.logos/footer.png);
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  color: #e0fbfc;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 55px; }
  footer .footer__social {
    margin-top: 20px;
    display: flex;
    padding: 20px 180px;
    border-top: 3px solid #e0fbfc; }
    footer .footer__social .insta {
      height: 60px;
      width: 60px; }
    footer .footer__social .wpp {
      height: 60px;
      width: 60px;
      margin-left: 30px; }

/* ----------------------- MEDIA QUERIES -----------------------*/
@media only screen and (max-width: 950px) {
  .home_parte4 {
    padding: 30px 20px; }
    .home_parte4 .home__servicio {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px; }
      .home_parte4 .home__servicio .card1 {
        display: flex; }
        .home_parte4 .home__servicio .card1 .card2 {
          height: 250px;
          width: 250px;
          background-color: white;
          text-align: justify;
          font-size: 20px;
          line-height: 25px;
          color: #e0fbfc;
          margin: 7px;
          padding: 0; }
          .home_parte4 .home__servicio .card1 .card2 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card3 {
          height: 250px;
          width: 250px;
          background-color: #253237;
          text-align: justify;
          font-size: 20px;
          line-height: 25px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card3 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card4 {
          height: 250px;
          width: 250px;
          background-color: #9db4c0;
          text-align: justify;
          font-size: 20px;
          line-height: 25px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card4 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card5 {
          height: 250px;
          width: 250px;
          background-color: #5c6b73;
          text-align: justify;
          font-size: 20px;
          line-height: 25px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card5 img {
            width: 100%;
            height: 100%; }
  .home_parte2 {
    padding: 30px 5px; }
    .home_parte2 img {
      width: 350px;
      margin-bottom: 0 0 20px 0; } }

@media only screen and (max-width: 768px) {
  .home_parte4 {
    padding: 30px 20px; }
    .home_parte4 .home__servicio {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px; }
      .home_parte4 .home__servicio .card1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .home_parte4 .home__servicio .card1 .card2 {
          height: 200px;
          width: 200px;
          background-color: white;
          text-align: justify;
          font-size: 15px;
          line-height: 20px;
          color: #e0fbfc;
          margin: 7px;
          padding: 0; }
          .home_parte4 .home__servicio .card1 .card2 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card3 {
          height: 200px;
          width: 200px;
          background-color: #253237;
          text-align: justify;
          font-size: 15px;
          line-height: 20px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card3 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card4 {
          height: 200px;
          width: 200px;
          background-color: #9db4c0;
          text-align: justify;
          font-size: 15px;
          line-height: 20px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card4 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card5 {
          height: 200px;
          width: 200px;
          background-color: #5c6b73;
          text-align: justify;
          font-size: 15px;
          line-height: 20px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card5 img {
            width: 100%;
            height: 100%; }
  .home_parte2 {
    padding: 30px 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .home_parte2 img {
      width: 100%;
      margin-bottom: 0 0 20px 0; }
  .compra__container {
    padding: 30px 10px; }
    .compra__container .compra__producto {
      display: flex;
      margin-top: 100px; }
      .compra__container .compra__producto .compra__foto {
        width: 100%;
        padding-right: 50px; }
      .compra__container .compra__producto .compra__descripcion {
        text-align: center; }
        .compra__container .compra__producto .compra__descripcion .compra-precio {
          font-size: 40px; }
        .compra__container .compra__producto .compra__descripcion h1 {
          font-size: 40px; }
        .compra__container .compra__producto .compra__descripcion form .boton__compra {
          margin-top: 50px; }
    .compra__container .compra__envio h3 {
      font-size: 40px; }
    .compra__container .compra__relacionado h3 {
      font-size: 40px; } }

@media only screen and (max-width: 600px) {
  .home_parte1 {
    padding: 30px 5px;
    font-family: 'Barlow Condensed', sans-serif; }
    .home_parte1 .home__parrafo {
      font-size: 15px;
      font-weight: 15px;
      text-align: justify;
      padding: 0 10px;
      line-height: 25px; }
  .prod__caja .prod__item img {
    height: 100px;
    transition: 1s; }
  .home_parte2 {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .home_parte2 img {
      width: 350px;
      height: auto;
      border-radius: 7px;
      box-shadow: 10px 5px 5px #5c6b73; }
    .home_parte2 .requisitos {
      width: 100%;
      margin-left: 0;
      font-family: 'Barlow Condensed', sans-serif; }
      .home_parte2 .requisitos h3 {
        margin-top: 20px;
        font-size: 40px; }
      .home_parte2 .requisitos .requisitos__item {
        font-size: 20px;
        padding: 0 15px; }
  .home_parte4 {
    padding: 30px 0px; }
    .home_parte4 h3 {
      font-size: 40px; }
    .home_parte4 .home__servicio {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .home_parte4 .home__servicio .card1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .home_parte4 .home__servicio .card1 .card2 {
          height: 200px;
          width: 200px;
          background-color: white;
          text-align: justify;
          font-size: 15px;
          line-height: 30px;
          color: #e0fbfc;
          margin: 7px;
          padding: 0; }
          .home_parte4 .home__servicio .card1 .card2 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card3 {
          height: 200px;
          width: 200px;
          background-color: #253237;
          text-align: justify;
          font-size: 15px;
          line-height: 30px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card3 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card4 {
          height: 200px;
          width: 200px;
          background-color: #9db4c0;
          text-align: justify;
          font-size: 15px;
          line-height: 30px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card4 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card5 {
          height: 200px;
          width: 200px;
          background-color: #5c6b73;
          text-align: justify;
          font-size: 15px;
          line-height: 30px;
          color: #e0fbfc;
          margin: 7px;
          padding: 20px; }
          .home_parte4 .home__servicio .card1 .card5 img {
            width: 100%;
            height: 100%; }
  .prod__container {
    padding: 30px 5px; }
    .prod__container .prod__caja {
      overflow: hidden;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .prod__container .prod__caja .prod__item {
        width: 200px;
        margin-bottom: 30px; }
        .prod__container .prod__caja .prod__item img {
          height: auto;
          transition: 1s; }
      .prod__container .prod__caja .prod__item:hover img {
        transform: scale(1.2); }
  .compra__container {
    padding: 30px 5px; }
    .compra__container .compra__producto {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      font-family: 'Barlow Condensed', sans-serif;
      justify-content: center;
      align-items: center; }
      .compra__container .compra__producto .compra__foto {
        width: 90%;
        padding-right: 0;
        margin-top: 60px; }
      .compra__container .compra__producto .compra__descripcion {
        text-align: center; }
        .compra__container .compra__producto .compra__descripcion .compra-precio {
          font-size: 50px; }
        .compra__container .compra__producto .compra__descripcion h1 {
          font-size: 30px; }
        .compra__container .compra__producto .compra__descripcion form .boton__compra {
          margin-top: 50px; }
    .compra__container .compra__envio h3 {
      font-size: 30px; }
    .compra__container .compra__relacionado h3 {
      font-size: 30px; } }

@media only screen and (max-width: 380px) {
  .slogan {
    background-image: linear-gradient(rgba(37, 50, 55, 0.87), rgba(37, 50, 55, 0.822)), url("../assets/background.logos/back.png");
    height: 550px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-attachment: fixed;
    color: #e0fbfc;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    text-align: center; }
    .slogan .slogan_texto {
      border-left: 5px solid #e0fbfc; }
      .slogan .slogan_texto h1 {
        font-size: 40px; }
      .slogan .slogan_texto h2 {
        font-size: 60px;
        margin: 0 60px 0 10px; }
  .home_parte4 {
    padding: 30px 0px; }
    .home_parte4 h3 {
      font-size: 35px; }
    .home_parte4 .home__servicio {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .home_parte4 .home__servicio .card1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .home_parte4 .home__servicio .card1 .card2 {
          height: 150px;
          width: 150px;
          background-color: white;
          text-align: justify;
          font-size: 15px;
          line-height: 20px;
          color: #e0fbfc;
          margin: 7px;
          padding: 0; }
          .home_parte4 .home__servicio .card1 .card2 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card3 {
          height: 150px;
          width: 150px;
          background-color: #253237;
          text-align: justify;
          font-size: 15px;
          line-height: 20px;
          color: #e0fbfc;
          margin: 7px;
          padding: 5px; }
          .home_parte4 .home__servicio .card1 .card3 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card4 {
          height: 150px;
          width: 150px;
          background-color: #9db4c0;
          text-align: justify;
          font-size: 15px;
          line-height: 20px;
          color: #e0fbfc;
          margin: 7px;
          padding: 5px; }
          .home_parte4 .home__servicio .card1 .card4 img {
            width: 100%;
            height: 100%; }
        .home_parte4 .home__servicio .card1 .card5 {
          height: 150px;
          width: 150px;
          background-color: #5c6b73;
          text-align: justify;
          font-size: 15px;
          line-height: 20px;
          color: #e0fbfc;
          margin: 7px;
          padding: 5px; }
          .home_parte4 .home__servicio .card1 .card5 img {
            width: 100%;
            height: 100%; }
  .compra__container {
    padding: 30px 5px; }
    .compra__container .compra__producto {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      font-family: 'Barlow Condensed', sans-serif;
      justify-content: center;
      align-items: center; }
      .compra__container .compra__producto .compra__foto {
        width: 100%;
        padding-right: 0;
        margin-top: 60px; }
      .compra__container .compra__producto .compra__descripcion {
        text-align: center; }
        .compra__container .compra__producto .compra__descripcion .compra-precio {
          font-size: 50px; }
        .compra__container .compra__producto .compra__descripcion h1 {
          font-size: 30px; }
        .compra__container .compra__producto .compra__descripcion form .boton__compra {
          margin-top: 50px; }
    .compra__container .compra__envio h3 {
      font-size: 30px; }
    .compra__container .compra__relacionado h3 {
      font-size: 30px; } }
