@media only screen and (max-width: 600px) {


    header {
       
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 70px 70px;
        grid-template-areas: "logo slogan"
                            "logo navegador";
        
    }
    .imagen { width: 80px; height: 80px;}
    .slogan { font-size: 30px ;padding-right: 40%;}

    .cajauno {
        line-height: 25px; 
        font-size: 20px;
        padding-top: 20px;
    }
    #boton{
        margin: 70px;
    }

    .cajados {align-self: center;}

    .cajatres {padding: 20px;}

    .cajacuatro {align-self: center;}

    .cajacinco { line-height: 25px; 
        font-size: 20px;
        padding-top: 20px;}

    footer {
        font-size: 30px; padding-left: 20px;
    }
    .wpp {height: 40px; padding-right: 10px;}
    .insta {height: 40px; }


    /* CONTACTO */
    .formulario {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 20px;
    }
}

