
$header-height: 800px;
$header-psize: 60px;
$header-psize2: 40px;

$mainpadding: 50px 70px;

$color1: rgb(224, 251, 252);
$color2: rgb(194, 223, 227);
$color3: rgb(157, 180, 192);
$color4: rgb(92, 107, 115);
$color5: rgb(37, 50, 55);

$parrafo1: 20px;
$parrafo1_padding: 0 80px 0 80px;
$parrafo1_height: 25px;

$cardwidth: 27%;
$cardimg: 200px 

