@import "variables.scss";

*{margin: 0; padding: 0;}

header {
    position: fixed;
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    z-index: 30;
    #menu-nav{
        
    }
    img {
        width: 50px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

/* h4{
    text-align: center;
    margin-bottom: 30px;
    color: $color5;
}


h3 {
    text-align: center;
    color: $color5;
    font-size: header-psize2;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
} */


/* ----------------------- HOME -----------------------*/
@mixin banner ($banner-back, $banner-alto, $banner-aling,){
    background-image: linear-gradient(rgba(37, 50, 55, 0.87), rgba(37, 50, 55, 0.822)), $banner-back;
    height: $banner-alto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: $banner-aling;
    background-attachment: fixed;
    color: $color1;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    text-align: center;
}
.slogan {

    @include banner(url("../assets/background.logos/back.png"), 700px, flex-end,)
   
    
    .slogan_texto{
        border-left: 5px solid $color1;
        h1 {
            font-size: $header-psize2;
        }
        h2 {
            font-size: $header_psize;
            margin: 0 100px 0 70px;
        }
    }
    
}


.home_parte1 {
    padding: $mainpadding;
    font-family: 'Barlow Condensed', sans-serif;

    .home__parrafo {
        font-size: $parrafo1;
        font-weight: 15px;
        text-align: justify;
        padding: $parrafo1_padding;
        line-height: $parrafo1_height;
    }

    
}

@mixin servicio($servicio-color, $servicio-padding){
    height: 300px;
    width: 300px;
    background-color: $servicio-color;
    text-align: justify;
    font-size: 25px;
    line-height: 30px;
    color: $color1;
    margin: 7px;
    padding: $servicio-padding;

    img {width: 100%; height: 100%; opacity: 0.7;}
}
.home_parte4 {
    background-color: rgba(157, 180, 192, 0.397);
    width: 100%;
    padding: $mainpadding;
    font-family: 'Barlow Condensed', sans-serif;

    h3 {
        text-align: center;
        color: $color5;
        font-size: $header-psize2;
        font-weight: 800;
        text-transform: uppercase;
    }
    .home__servicio {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;

        .card1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .card2 { @include servicio($color5, 0)}
            .card3 { @include servicio($color5, 40px)}
            .card4 { @include servicio($color3, 40px)}
            .card5 { @include servicio($color4, 40px)}
            
        }
    }

}

.home_parte2{
    padding: $mainpadding;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        width: 350px;
        height: auto;
        border-radius: 7px;
        box-shadow: 10px 5px 5px $color4;
        
    }
    .requisitos {
        width: 70%;
        margin-left: 100px;
        font-family: 'Barlow Condensed', sans-serif;

        h3 {
            text-align: center;
            color: $color5;
            font-size: $header-psize2;
            font-weight: 800;
            text-transform: uppercase;
        }
        .requisitos__item{
            font-size: $parrafo1;
           padding: 0 25px;
            span {
               margin: 0 10px 10px 0;
               padding: 3px;
               background-color: $color3;
               border-radius: 50%;
               width: 40px;
               text-align: center;
               color: $color1;
               box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.658);
               display: inline-block;
            }
        }

        #pf1 {
            background-color: $color5;
            margin-top: 40px;
            color: $color1;
            font-size: 30px;
            overflow: auto;
            font-size: $parrafo1;
        }

        .boton {
            border: inset black;
            margin: 70px auto;
            text-align: center;
            padding: 8px;
            transition: 1s;
            background-color: $color5;
            border-radius: 5%;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

            a {text-decoration: none; color: $color1; font-size: 35px;
            }
        }

        .boton:hover {
            transform: scale (1.5, 1.5);
            background-color: $color4;
        }
    }
}


/* ----------------------- PRODUCTOS -----------------------*/

.prod__banner{
    @include banner(url("../assets/background.logos/back.png"), 250px, center)

    h1 {
        font-size: $header-psize2;
    }
}

.prod__container{
    padding: $mainpadding;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    #prod__card{
        margin: 20px 10px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 800;
        font-size: 20px;
        text-align: center;

        .prod__imagencontain {
            overflow: hidden;
            img { transition: 1s;}
        }
        .prod__imagencontain:hover {
            img { transform: scale(1.2);}
        }
    }

}

/* ----------------------- COMPRA -----------------------*/

.compra__container {
    padding: 50px 0;

    .compra__producto{
        display: flex;
        margin: 150px 0 100px 0;
        font-family: 'Barlow Condensed', sans-serif;
        justify-content: center;
        align-items: flex-start;
        padding: 0 70px;

        .compra__foto {
            width: 500px;
            padding-right: 100px;
        
        }
        .compra__descripcion {
            text-align: center;

            .compra-precio {
                font-size: 50px;
            }
            h1 {
                font-size: $header-psize2;
            }
            form {
                .boton__compra{
                    margin-top: 50px;
                }
            }
        }
    }

    .compra__envio {
        margin-top: 30px;
        padding: 0 70px 30px 70px;
        background-color: rgba(157, 180, 192, 0.397);
        font-size: 20px;
        font-family: 'Barlow Condensed', sans-serif;
        
        h3 {
            text-align: center;
            color: $color5;
            font-size: $header-psize2;
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
        }
        .envio__item{
            display: flex;
            flex-wrap: wrap;
            text-align: justify;
            margin-top: 20px;

            .envio__form{
                width: 50%;
                display: flex;
                flex-direction: column;
                
                input{
                    margin: 5px 50px;
                    border: 0;
                    border-bottom: 1px solid $color4;
                    background: transparent;
                }
                .envio__form--boton{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-top: 10px;
                    input{
                        background-color: $color5;
                        border: none;
                        color: $color2;
                        padding: 2px 20px;
                        border-radius: 20px;
                    }
                }
            }
            .envio__mapa{
                width: 45%;
                height: 500px;
                overflow: hidden;
                margin-left: 20px;
            }
        }

    }
    .compra__relacionado {
        margin-top: 30px;
        h3 {
            text-align: center;
            color: $color5;
            font-size: $header-psize2;
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .relacionado--item {
            display: flex;
            overflow-x: scroll;
            justify-content: space-evenly;
            margin-top: 20px;

            #prod__card{
                margin: 20px 10px;
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 800;
                font-size: 20px;
                text-align: center;
        
                
            }
        }
    }

}
/* ----------------------- CONTACTO -----------------------*/


.contacto__fondo {
    background-color: $color3;
}
.contacto__container{
    width: 360px;
    height: 600px;
    margin: 0 auto 300px auto;
    padding-top: 100px;
    background-color: $color1;
    position: relative;
    overflow: hidden;

    .contacto__formitem {
        margin-top: 20px;
        margin-bottom: 0;
    }
    form{
        width: 280px;
        position: absolute;
        top: 200px;
        left: 40px;
        transition: 0.4s;

        font-family: 'Barlow Condensed', sans-serif;

        input{
            width: 100%;
            padding: 10px 5px;
            margin: 5px 0;
            border: 0;
            border-bottom: 1px solid $color4;
            outline: none;
            background: transparent;
        }
        .boton-box{
            width: 100%;
            margin: 30px auto;
            text-align: center;
            
        }
        
    }
    button {
        width: 110px;
        height: 35px;
        margin: 0 10px;
        background: $color5;
        border-radius: 30px;
        border: 0;
        outline: none;
        color: $color1;
        cursor: pointer;
    }
    #form2 {
        left: 450px;
    }
    
    #form3 {
        left: -450px;
        
        .comentario {
            overflow: scroll;
        }
    }
    
    
    .step-row{
        width: 360px;
        height: 40px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        box-shadow: 0 -1px 5px -1px #000;
        position: relative;
    }
    .step-col {
        width: 120px;
        text-align: center;
        color: #333;
        position: relative;
    }
    #progress {
        position: absolute;
        height: 100%;
        width: 120px;
        background: linear-gradient(to right, $color3, $color4);
        transition: 2s;
    }
}


/* ----------------------- FOOTER -----------------------*/
footer{

    @include banner(url(../assets/background.logos/footer.png), 300px, center)
    
    font-size: $header-psize2;
    

    .footer__social {
        margin-top: 20px;
        display: flex; 
        padding: 20px 180px;
        border-top: 3px solid $color1;

        .insta {height: 60px; width: 60px;}
        .wpp {height: 60px; width: 60px; margin-left: 30px;}
    }
}


/* ----------------------- MEDIA QUERIES -----------------------*/

@media only screen and (max-width: 950px) {

    @mixin servicio($servicio-color, $servicio-padding){
        height: 250px;
        width: 250px;
        background-color: $servicio-color;
        text-align: justify;
        font-size: 20px;
        line-height: 25px;
        color: $color1;
        margin: 7px;
        padding: $servicio-padding;
    
        img {width: 100%; height: 100%;}
    }
    .home_parte4 {
        padding: 30px 20px;
    
        .home__servicio {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
    
            .card1 {
                display: flex;
                .card2 { @include servicio($color5, 0)}
                .card3 { @include servicio($color5, 20px)}
                .card4 { @include servicio($color3, 20px)}
                .card5 { @include servicio($color4, 20px)}
                
            }
        }
    
    }
    .home_parte2{
        padding: 30px 5px;

        img {
            width: 350px;
            margin-bottom: 0 0 20px 0;
        }
    }

    .prod__container{
        padding: 40px 20px;
    
        #prod__card{
            margin: 10px;
        }
    
    }
}


@media only screen and (max-width: 768px) {
    @mixin servicio($servicio-color, $servicio-padding){
        height: 200px;
        width: 200px;
        background-color: $servicio-color;
        text-align: justify;
        font-size: 15px;
        line-height: 20px;
        color: $color1;
        margin: 7px;
        padding: $servicio-padding;
    
        img {width: 100%; height: 100%;}
    }
    .home_parte4 {
        padding: 30px 20px;
    
        .home__servicio {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
    
            .card1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .card2 { @include servicio($color5, 0)}
                .card3 { @include servicio($color5, 20px)}
                .card4 { @include servicio($color3, 20px)}
                .card5 { @include servicio($color4, 20px)}
                
            }
        }
    
    }
    .home_parte2{
        padding: 30px 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    
        img {
            width: 100%;
            margin-bottom: 0 0 20px 0;
        }
    }

    .compra__container {
        padding: 30px 10px;
    
        .compra__producto{
            display: flex;
            margin-top: 100px;
        
    
            .compra__foto {
                width: 100%;
                padding-right: 50px;
            
            }
            .compra__descripcion {
                text-align: center;
    
                .compra-precio {
                    font-size: 40px;
                }
                h1 {
                    font-size: 40px;
                }
                form {
                    .boton__compra{
                        margin-top: 50px;
                    }
                }
            }
        }
    
        .compra__envio {
            h3 {
                font-size: 40px;
            }
        }
        .compra__relacionado {
    
            h3 {
                font-size: 40px;
            }
        }
    
    }


}
@media only screen and (max-width: 600px) {

    .home_parte1 {
        padding: 30px 5px;
        font-family: 'Barlow Condensed', sans-serif;
    
        .home__parrafo {
            font-size: 15px;
            font-weight: 15px;
            text-align: justify;
            padding: 0 10px;
            line-height: $parrafo1_height;
        }
    
        
    }
    

    .prod__caja {

        .prod__item {

            img{
                height: 100px;
                transition: 1s;
            }
            
        }
        
    }

    .home_parte2{
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        img {
            width: 350px;
            height: auto;
            border-radius: 7px;
            box-shadow: 10px 5px 5px $color4;
            
        }
        .requisitos {
            width: 100%;
            margin-left: 0;
            font-family: 'Barlow Condensed', sans-serif;
    
            h3 {
                margin-top: 20px;
                font-size: 40px;
            }
            .requisitos__item{
                font-size: $parrafo1;
               padding: 0 15px;
            }
    
        }

        
    }

    @mixin servicio($servicio-color, $servicio-padding){
        height: 200px;
        width: 200px;
        background-color: $servicio-color;
        text-align: justify;
        font-size: 15px;
        line-height: 30px;
        color: $color1;
        margin: 7px;
        padding: $servicio-padding;
    
        img {width: 100%; height: 100%;}
    }
    .home_parte4 {
        padding: 30px 0px;

        h3 {
            font-size: 40px;
        }

        .home__servicio {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .card1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .card2 { @include servicio($color5, 0)}
                .card3 { @include servicio($color5, 20px)}
                .card4 { @include servicio($color3, 20px)}
                .card5 { @include servicio($color4, 20px)}
                
            }
        }
    
    }
    .prod__container{
        padding: 30px 5px;
    
        .prod__caja {
            overflow: hidden;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
    
            .prod__item {
                width: 200px;
                margin-bottom: 30px;
                img{
                    height: auto;
                    transition: 1s;
                }
                
            }
            .prod__item:hover {
                img {
                    transform: scale(1.2);
                }
            }
            
        }
    }

    .compra__container {
        padding: 30px 5px;
    
        .compra__producto{
            display: flex;
            flex-direction: column;
            margin-top: 0;
            font-family: 'Barlow Condensed', sans-serif;
            justify-content: center;
            align-items: center;
        
    
            .compra__foto {
                width: 90%;
                padding-right: 0;
                margin-top: 60px;
            }
            .compra__descripcion {
                text-align: center;
    
                .compra-precio {
                    font-size: 50px;
                }
                h1 {
                    font-size: 30px;
                }
                form {
                    .boton__compra{
                        margin-top: 50px;
                    }
                }
            }
        }
    
        .compra__envio {
            margin-top: 30px;
            padding: 0 30px 20px 30px;
            
            h3 {
                font-size: 30px;
                
            }
            .envio__item{
                flex-direction: column;
    
                .envio__form{
                    width: 100%;
                    
                    input{
                        margin: 5px 50px;
                    }
                    
                }
                .envio__mapa{
                    width: 100%;
                    height: 250px;
                    overflow: hidden;
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
    
        }
        .compra__relacionado {
    
            h3 {
                font-size: 30px;
            }
        }
    
    }
   
}

@media only screen and (max-width: 380px) {

   
    .slogan {
    
        @include banner(url("../assets/background.logos/back.png"), 550px, flex-end,)
       
        
        .slogan_texto{
            border-left: 5px solid $color1;
            h1 {
                font-size: 40px;
            }
            h2 {
                font-size: 60px;
                margin: 0 60px 0 10px;
            }
        }
        
    }

  

    @mixin servicio($servicio-color, $servicio-padding){
        height: 150px;
        width: 150px;
        background-color: $servicio-color;
        text-align: justify;
        font-size: 15px;
        line-height: 20px;
        color: $color1;
        margin: 7px;
        padding: $servicio-padding;
    
        img {width: 100%; height: 100%;}
    }
    .home_parte4 {
        padding: 30px 0px;

        h3 {
            font-size: 35px;
        }

        .home__servicio {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .card1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .card2 { @include servicio($color5, 0)}
                .card3 { @include servicio($color5, 5px)}
                .card4 { @include servicio($color3, 5px)}
                .card5 { @include servicio($color4, 5px)}
                
            }
        }
    
    }
   
    .compra__container {
        padding: 50px 0;
    
        .compra__producto{
            display: flex;
            margin: 20px 0 50px 0;
            padding: 0 3px;
            flex-direction: column;
    
            .compra__foto {
                width: 100%;
                padding-right: 0;
            
            }
            .compra__descripcion {
    
                .compra-precio {
                    font-size: 50px;
                }
                h1 {
                    margin-top: 10px;
                    font-size: 30px;
                }
                form {
                    .boton__compra{
                        margin-top: 30px;
                    }
                }
            }
        }
    
        .compra__envio {
            margin-top: 30px;
            padding: 0 5px 20px 5px;
            font-size: 20px;
            
            h3 {
                font-size: 40px;
            }
            .envio__item{
                margin-top: 20px;
                flex-direction: column;
    
                .envio__form{
                    width: 97%;
                }
                .envio__mapa{
                    width: 100%;
                    height: 250px;
                    overflow: hidden;
                    margin-left: 0;
                }
            }
    
        }
        .compra__relacionado {
            margin-top: 30px;
            h3 {
                font-size: 30px;
                margin-bottom: 15px;
            }
    
            .relacionado--item {
                display: flex;
                overflow-x: scroll;
                justify-content: space-evenly;
                margin-top: 20px;
    
                #prod__card{
                    margin: 10px 5px;
                    font-family: 'Barlow Condensed', sans-serif;
                    font-weight: 800;
                    font-size: 15px;
                    text-align: center;
            
                    
                }
            }
        }
    
    }
}